*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar{
  margin-bottom: 60px;

}


.p-4-1{

margin-bottom: 50px;
padding: 70px 0px;
border-radius: none;
}

.hero1{
  border: 1px solid #d6d6d6;
  background-color: azure;
  
}

